bin/
obj/
bin/*
obj/*
*.userprefs
*.*~
OpenCover
/SpookilySharp/pkg/SpookilySharp.1.0.5117.nupkg
/packages/**/*
!/packages/repositories.config
TestNuGet/packages/**/*
!TestNuGet/packages/repositories.config
/SpookilySharp/ProfilingSessions/*.sdps
