bin/
obj/
bin/*
obj/*
.vs
*.userprefs
*.*~
OpenCover
*.nupkg
/packages/**/*
!/packages/repositories.config
TestNuGet/packages/**/*
!TestNuGet/packages/repositories.config
*.sdps
StyleCop.Cache
StyleCopViolations.xml
/Documentation/*.shfbproj_*
Help
deleteme.*
*.user
*.coverage
