bin/
obj/
bin/*
obj/*
*.userprefs
*.*~
OpenCover
*.nupkg
/packages/**/*
!/packages/repositories.config
TestNuGet/packages/**/*
!TestNuGet/packages/repositories.config
*.sdps
StyleCop.Cache
StyleCopViolations.xml
/SpookilySharp/*.Settings
